[build]
  publish = "."
  command = "echo 'No build command needed'"

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

# Дозволяємо доступ до всіх HTML файлів та статичних ресурсів
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
